<!DOCTYPE html>
<html lang="en">

   
<!-- header.ejs                -->
    <%-  include('partials/header.ejs') %>
                
               <!-- Begin Page Content -->
               <div class="container-fluid">
                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3">
                     <h1 class="h5 mb-0 text-gray-900">Movies</h1>
                     <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Reset Filters <i class="fas fa-times fa-sm text-white-50"></i></a>
                  </div>
                  <!-- Content Row -->
                  <div class="row">
                     <div class="col-xl-3 col-lg-4">
                        <div class="filters mobile-filters shadow rounded bg-white mb-4 d-none d-block d-md-none">
                           <div class="border-bottom">
                              <a class="h6 font-weight-bold text-dark d-block m-0 p-3" data-toggle="collapse" href="#mobile-filters" role="button" aria-expanded="false" aria-controls="mobile-filters">Filter By <i class="fas fa-angle-down float-right mt-1"></i></a>
                           </div>
                           <div id="mobile-filters" class="filters-body collapse multi-collapse">
                              <div id="accordion">
                                 <div class="filters-card border-bottom p-3">
                                    <div class="filters-card-header" id="headingOffer">
                                       <h6 class="mb-0">
                                          <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseSort" aria-expanded="true" aria-controls="collapseSort">
                                          Sort by Products <i class="fas fa-angle-down float-right"></i>
                                          </a>
                                       </h6>
                                    </div>
                                    <div id="collapseSort" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
                                       <div class="filters-card-body card-shop-filters">
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan111">
                                             <label class="custom-control-label" for="osahan111">Relevance </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan112">
                                             <label class="custom-control-label" for="osahan112">Price (Low to High)
                                             </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan113">
                                             <label class="custom-control-label" for="osahan113">Price (High to Low)
                                             </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan114">
                                             <label class="custom-control-label" for="osahan114">Discount (High to Low)
                                             </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan115">
                                             <label class="custom-control-label" for="osahan115">Name (A to Z)
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="filters-card border-bottom p-3">
                                    <div class="filters-card-header" id="headingTwo">
                                       <h6 class="mb-0">
                                          <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                          Genre
                                          <i class="fas fa-angle-down float-right"></i>
                                          </a>
                                       </h6>
                                    </div>
                                    <div id="collapsetwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                       <div class="filters-card-body card-shop-filters">
                                          <form class="filters-search mb-3">
                                             <div class="form-group">
                                                <i class="fas fa-search"></i>                                 
                                                <input type="text" class="form-control" placeholder="Start typing to search...">
                                             </div>
                                          </form>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan116">
                                             <label class="custom-control-label" for="osahan116">Action <small class="text-black-50">156</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan117">
                                             <label class="custom-control-label" for="osahan117">Adventure <small class="text-black-50">120</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan118">
                                             <label class="custom-control-label" for="osahan118">Animation <small class="text-black-50">130</small></label>
                                          </div>
                                          <div class="mt-2"><a href="#" class="link">See all</a></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="filters-card border-bottom p-3">
                                    <div class="filters-card-header" id="headingOne">
                                       <h6 class="mb-0">
                                          <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Select Language <i class="fas fa-angle-down float-right"></i>
                                          </a>
                                       </h6>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                       <div class="filters-card-body card-shop-filters">
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan1155">
                                             <label class="custom-control-label" for="osahan1155">Punjabi <small class="text-black-50">230</small>
                                             </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan1166">
                                             <label class="custom-control-label" for="osahan1166">English <small class="text-black-50">95</small>
                                             </label>
                                          </div>
                                          <div class="mt-2"><a href="#" class="link">See all</a></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="filters-card border-bottom p-3">
                                    <div class="filters-card-header" id="headingOffer">
                                       <h6 class="mb-0">
                                          <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOffer" aria-expanded="true" aria-controls="collapseOffer">
                                          Format <i class="fas fa-angle-down float-right"></i>
                                          </a>
                                       </h6>
                                    </div>
                                    <div id="collapseOffer" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
                                       <div class="filters-card-body card-shop-filters">
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan1100">
                                             <label class="custom-control-label" for="osahan1100"> 2D </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11111">
                                             <label class="custom-control-label" for="osahan11111"> 3D
                                             </label>
                                          </div>
                                          <div class="mt-2"><a href="#" class="link">See all</a></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="filters shadow rounded bg-white mb-3 d-none d-sm-none d-md-block">
                           <div class="filters-header border-bottom p-3">
                              <h6 class="m-0 text-dark">Filter By</h6>
                           </div>
                           <div class="filters-body">
                              <div id="accordion">
                                 <div class="filters-card border-bottom p-3">
                                    <div class="filters-card-header" id="headingTwo">
                                       <h6 class="mb-0">
                                          <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                          Genre
                                          <i class="fas fa-angle-down float-right"></i>
                                          </a>
                                       </h6>
                                    </div>
                                    <div id="collapsetwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                       <div class="filters-card-body card-shop-filters">
                                          <form class="filters-search mb-3">
                                             <div class="form-group">
                                                <i class="fas fa-search"></i>                                 
                                                <input type="text" class="form-control" placeholder="Start typing to search...">
                                             </div>
                                          </form>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11q">
                                             <label class="custom-control-label" for="osahan11q">Action <small class="text-black-50">156</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11w">
                                             <label class="custom-control-label" for="osahan11w">Adventure <small class="text-black-50">120</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11e">
                                             <label class="custom-control-label" for="osahan11e">Animation <small class="text-black-50">130</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11r">
                                             <label class="custom-control-label" for="osahan11r">Comedy <small class="text-black-50">120</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11y">
                                             <label class="custom-control-label" for="osahan11y"> Crime <small class="text-black-50">111</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11u">
                                             <label class="custom-control-label" for="osahan11u"> Drama <small class="text-black-50">95</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11i">
                                             <label class="custom-control-label" for="osahan11i"> Fantasy <small class="text-black-50">50</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11p">
                                             <label class="custom-control-label" for="osahan11p"> Historical <small class="text-black-50">32</small></label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11po">
                                             <label class="custom-control-label" for="osahan11po"> Romantic <small class="text-black-50">156</small></label>
                                          </div>
                                          <div class="mt-2"><a href="#" class="link">See all</a></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="filters-card border-bottom p-3">
                                    <div class="filters-card-header" id="headingOne">
                                       <h6 class="mb-0">
                                          <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Select Language <i class="fas fa-angle-down float-right"></i>
                                          </a>
                                       </h6>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                       <div class="filters-card-body card-shop-filters">
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11z">
                                             <label class="custom-control-label" for="osahan11z"> Punjabi <small class="text-black-50">230</small>
                                             </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11zz">
                                             <label class="custom-control-label" for="osahan11zz"> English <small class="text-black-50">95</small>
                                             </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11zzz">
                                             <label class="custom-control-label" for="osahan11zzz"> Hindi <small class="text-black-50">35</small>
                                             </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11x">
                                             <label class="custom-control-label" for="osahan11x">Telugu <small class="text-black-50">46</small>
                                             </label>
                                          </div>
                                          <div class="mt-2"><a href="#" class="link">See all</a></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="filters-card border-bottom p-3">
                                    <div class="filters-card-header" id="headingOffer">
                                       <h6 class="mb-0">
                                          <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOffer" aria-expanded="true" aria-controls="collapseOffer">
                                          Format <i class="fas fa-angle-down float-right"></i>
                                          </a>
                                       </h6>
                                    </div>
                                    <div id="collapseOffer" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
                                       <div class="filters-card-body card-shop-filters">
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11cc">
                                             <label class="custom-control-label" for="osahan11cc"> 3D </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11c">
                                             <label class="custom-control-label" for="osahan11c"> 2D
                                             </label>
                                          </div>
                                          <div class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input" id="osahan11v">
                                             <label class="custom-control-label" for="osahan11v"> 5D
                                             </label>
                                          </div>
                                          <div class="mt-2"><a href="#" class="link">See all</a></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                    <!--   list of movies -->
                      
                    
                     <div class="col-xl-9 col-lg-8">
                        <div class="row">
                        <%
                            let count=8;
                      if(movies.length>0){
                        for(let i=0;i<count;i++){  
                        %>    
                            
                           <div class="col-xl-4 col-md-6 mb-4">
                              <div class="card m-card shadow border-0">
                                 
                                    <div class="m-card-cover">
                                       <div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box">
                                          <h6 class="text-gray-900 mb-0 font-weight-bold"><a href="https://www.imdb.com/title/<%= movies[i].link %>">IMDB</a></h6>
<!--                                          <small class="text-muted">23,421</small>-->
                                       </div>
                                       <img src="<%= movies[i].image %>" class="card-img-top" alt="...">  <!-- image -->
                                    </div>
                                    <div class="card-body p-3">
                                        <a href="/theatres/<%= movies[i]._mid %>">
                                       <h5 class="card-title text-gray-900 mb-1"><%= movies[i].title %></h5>     <!-- movie name-->
                                            </a>
                                       <p class="card-text">
                                        <bold class="text-muted"><%= movies[i].lang %></bold> <!-- lang-->
<!--                                   <small class="text-danger"><i class="fas fa-calendar-alt fa-sm text-gray-400"></i> 22 AUG</small> -->
                                       <small class="text-muted"><%= movies[i].genre %></small>
                                        </p>
                                        
                                    </div>
                                 
                              </div>
                            </div>
                            
                        <% 
                            }
                            }else { %>
                            <div class="col-xl-4 col-md-6 mb-4">
                            <span> no movies available. </span>
                            </div>
                            <% } %>                           
                            
                        </div>
                        <div class="text-center mt-1 mb-4 col-12">
                           <div class="spinner-border" role="status">
                              <span class="sr-only">Loading...</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
             
             
    <%-  include('partials/footer.ejs') %>
        </div>
         <!-- End of Content Wrapper -->
      </div> 
<!-- Custom scripts for all pages-->
    <%-  include('partials/logout-model.ejs') %>
   </body>
<!-- Bootstrap core JavaScript-->
      <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script type="text/javascript" src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
        <script type="text/javascript" src="js/city.js"></script>
</html>